.header {
 
  background-color: grey;
  padding: 15px;
}

.header-img {
  /* flex: 0 0; */
  height: 40px;


}
.header-text {
  /* margin-top: 15px; */
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  padding-left:30px; 
  /* text-align: justify; */



  font-size: 20px;
  color: white;
  padding-top: 15px;
}

@media only screen and (max-width: 376px) {
  .header{
    padding-bottom: 5px;
  }
  .header-img{
    /* display: block; */
    padding-right: 10%;
  }
}


.loginHeaderContent{
margin-right:10px; 

}

.LoginHeader {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  background-color: grey;

  margin:5px 0px;
  font-weight: bolder;
  color: white;
  padding-right: 5px;
  flex-wrap: wrap;
  
}
.not-loggedin{
  margin-top:15px;
}
.loginUser{
  display: block;

}

.loginUserDetails{
  display: flex;
  flex: 1;
}
.loginUserDetails>div{
padding: 5px;
}
.logout-button{
  margin-top:2px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #690b0e;
}
.logout-button:hover .logout-button:active{
  color: white;
}


/* .LoginHeader >img {
  height: 20px;  
  }
  .logout-button {
    padding: 15px;
  } */