


.login-page{
  height: 100%;
  
  width: 100%;
}
.login-body{
  margin-left: 10%;  
  margin-right: 20%;

}



.loginForm {
  max-height: 20%;
  align-content: center;
  display: inline-block;

}


.valid-users,.login-info{
  background: rgba(0,0,0,0.8);
  padding: 10px 15px;
  border-radius: 15px;
  margin-top:20px; 

}
.valid-users h3{
  padding: 0;
  padding-bottom:15px; 
  margin: 0;
}

.login-info{
  justify-content: flex-end;
  width: 60%;
  margin-left:10%;
  height: 50%; 
  text-align: left;

}
.login-info a{
  color: #dfcfd0;

}

.user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
  text-align: left;

}
.user-list-div {
}




.usernameEntry{
  display: inline;
  padding-left: 10px;
  vertical-align: bottom;
}

.userAvatar {
  height: 20px;
  margin-left: 20px;
  vertical-align: bottom;
  background-color: white;

  
}
.user-entry {
  padding-bottom: 10px;
}



.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  content: "hi"
}
.lds-dual-ring:after {
  content: " ";
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


 .loaded-users{
  display: none;
}


@media only screen and (min-width: 376px) {
  .login-list{
    display: inline-block;
    text-align: left;
    
  }
}