.App {
  text-align: center;
  display: grid;
  grid-template: 1fr 2fr 40fr 1fr / 5fr 1fr;
  grid-template-areas:
    "header header"
    "navbar navbar"
    "content sidebar";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: lightyellow;
  padding: 20px;
}

.navbar {
  grid-area: navbar;
  background-color: cornflowerblue;
  padding: 20px;
  display: flex;
  flex: space-around;
}

.navbar :first-child {
  margin-right: 20px;
}
.sidebar {
  grid-area: sidebar;
  background-color: coral;
}

.content {
  margin-top: 0;
  grid-area: content;
  background-color: lightgray;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.article-entry,
.comment-entry {
  display: grid;
  grid-template: 1fr 3fr 1fr / 1fr 20fr;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;

  grid-template-areas:
    "articletitle articletitle"
    "vote article"
    "foot foot";

  /* "navbar navbar"
    "content sidebar"; */

  /* flex: 1 0 100%;
  flex-direction: row; */
  margin-bottom: 10px;
  margin-left: 8%;
  margin-right: 8%;
  border: 1px solid black;
  background-color: rgb(248, 248, 248);
  padding: 20px;
  color: black;
  /* flex-flow: row wrap; */
  max-width: 70%;
  min-height: 20%;
}

.article-foot,
.comment-foot {
  grid-area: foot;
  display: flex;
  flex: 1;

  /* text-align: left; */
  /* border: 1px solid black; */
  margin-top: 10px;
  text-decoration: none;
  color: blue;

  justify-content: space-between;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin-top: 0;
  padding: 12px;
}
.articletitle {
  grid-area: articletitle;

  font-weight: bolder;
  height: 10px;
}
.vote {
  grid-area: vote;
  /* background-color: rgb(236, 245, 242); */
  /* justify-content: flex-end; */
  padding: 1%;
}

.article {
  grid-area: article;

  padding: 20px;
}
.comment {
  grid-area: article;

  padding: 20px;
}
article {
  margin-bottom: 10px;
  margin-left: 8%;
  list-style-type: none;
  border: 1px solid black;
  background-color: bisque;
  padding: 5px;
  flex-basis: 80%;
  text-decoration: none;
}

.votearrow {
  font-size: 20pt;
  font-weight: bolder;
}

.LoginHeader {
  text-align: right;
  justify-content: right;
  font-weight: bolder;
  color: darkblue;
}
.loginForm {
  max-height: 20%;
  align-content: center;
}
.newForm {
  grid-area: articletitle;
  direction: flex;
}
.newForm > div {
  flex-direction: row;
  justify-content: left;
  justify-items: left;
}
.user-list {
  text-align: left;
  margin: auto;
}
.user-list-div {
  align-items: center;
}
